.add-cell-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px 10px;
    opacity: 0.1;
    transition: opacity 0.3ms ease-in 0.1s;
}

.add-cell-wrapper:hover {
    opacity: 1;
}

.add-cell-wrapper.force-visible {
    opacity: 1 !important;
}

.add-cell-wrapper .divider {
    position: absolute;
    width: 100%;
    top: 50%;
    bottom: 50%;
    height: 2px;
    background-color: #ddd;
    z-index: -1;
}