.editor-wrapper {
    position: relative;
    border-radius: 10px;
    border: 1px solid #333;
}

.format-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 200;
    opacity: 0;
    transition: opacity 0.3s;
}

.editor-wrapper:hover .format-btn {
    opacity: 1;
}