.code-cell {
    height: 100%;
    display: flex;
    flexDirection: row;
    width: 100%;
}

.code-cell-wrapper {
    margin-bottom: 50px;
}

.progress-wrapper {
    position: relative;
    flex-grow: 1;
    align-items: center;
    background-color: #eee !important;
    height: 100%;
}

.progress-cover {
    left: 35%;
    top: 45%;
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
