.action-bar {
    z-index: 1000;
    right: 0;
    display: flex;
    justify-content: right;
    opacity: 0.25;
    border-radius: 0;
}

.action-bar:hover {
    opacity: 1;
}

.action-btn {
    color: white;
    font-weight: bold;
    border: none;
    padding: 1px 8px;
    border-radius: 0;
}