.action-bar {
    z-index: 1000;
    right: 0;
    display: flex;
    justify-content: right;
    opacity: 0.25;
}

.action-bar:hover {
    opacity: 1;
}

.action-btn {
    border-color: white;
    color: white;
    font-weight: bold;
}